[submodule "reddit-place-script"]
	path = reddit-place-script
	url = git@github.com:rdeepak2002/reddit-place-script-2022.git
[submodule "reddit_place_script"]
	path = reddit_place_script
	url = git@github.com:rdeepak2002/reddit-place-script-2022.git
